name: build

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore .\src\FeatureOverridesSetter\FeatureOverridesSetter.csproj

      - name: Build
        run: dotnet build .\src\FeatureOverridesSetter\FeatureOverridesSetter.csproj -c Release --no-restore

      - name: Publish (win-x64)
        run: dotnet publish .\src\FeatureOverridesSetter\FeatureOverridesSetter.csproj -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true -o .\artifacts\win-x64

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: FeatureOverridesSetter-win-x64
          path: artifacts/win-x64
